    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../../assets/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <main>
      <div class="main-content">
        <div class="top-content">
          <%= link_to image_tag("logo/logo.png"), root_path %>
        </div>

        <div class="login-container">
          <%= form_with model: @user, url: user_session_path, class: 'form-box', local: true do |f| %>
            <%= f.email_field :email,autofocus: true, placeholder:"Email" %>
  
            <%= f.password_field :password, autocomplete: "off", placeholder:"Password" %>
  
            <% if devise_mapping.rememberable? %>
              <%= f.label :remember_me %><br />
              <%= f.check_box :remember_me %>
            <% end %>
            <%= f.submit "ログイン" %>
          <% end %>
        </div>
      </div>
    </main>
