    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../../assets/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <%#投稿する内容の入力%>
    <main>
      <div class="mains-sell-contents">
        <div class="mains-sell-main">
        <h1 class="mains-sell-title">お気に入りの場所を投稿</h1>
  
        <%= form_with( model: @place, local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
      <%# 投稿画像 %>
          <div class="img-upload">
            <div class="weight-bold-text">
              出品画像
            <span class="indispensable">必須</span>
            </div>
            <div class="click-upload">
              クリックしてファイルをアップロード
            </div>
              <%= f.file_field :image %>
          </div>
      <%# 場所と場所の詳細 %>
          <div class="weight-bold-text">
            場所
            <span class="indispensable">必須</span>
          </div>
  
          <%= f.text_area :name, class:"single-input-primary", placeholder:"場所の名前（必須 20文字まで)", maxlength:"20" %>
  
          <div class="weight-bold-text">
            <div class="info-text">
              場所の詳細
            <span class="indispensable">必須</span>
            </div>
          </div>
  
          <%= f.text_area :info, class:"single-input-primary", placeholder:"どんな場面なのか詳細を書いてみよう。(200文字まで)" ,rows:"7" ,maxlength:"200" %>

          <div class="category_country">
            <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category"}) %>
            <%= f.collection_select(:country_id, Country.all, :id, :name, {}, {class: "country"}) %>
          </div>
      <%# 下部ボタン %>
          <div class="sell-btn-contents">
            <%= f.submit "変更する" ,class:"sell-btn" %>
            <%=link_to 'もどる', place_path, class:"back-btn" %>
          </div>
        <% end %>
        </div>
      </div>
    </main>

